@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .list-restaurant,.favorite-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .restaurant-card {
    width: 45%;
    margin: 20px 0;
  }

  .detail-restaurant{
    width: 90%;
    margin:auto;
  }

  .list-menu li{
    display:inline-block;
  }

  .restaurant-card img {
    width: 100%;
    border-radius: 8px;
  }

  .reviews{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }

  .review{
    width:33%
  }
}


